[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.*"
dj-database-url = "*"
"psycopg2" = "*"
gevent = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "==3.6.*"
djangorestframework-csv = "*"
bleach = "*"
newrelic = "*"
cfenv = "*"
cg-django-uaa = "*"


[dev-packages]
bandit = "*"
coverage = "*"
django-debug-toolbar = "*"
django-webtest = "*"
factory-boy = "*"
"flake8" = "*"
nplusone = "*"

[requires]
python_version = "3.6"
