[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=2.2"
dj-database-url = "*"
gevent = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework = "~=3.8"
djangorestframework-csv = "*"
bleach = "*"
newrelic = "*"
cfenv = "*"
cg-django-uaa = "*"
"psycopg2-binary" = "*"
markdown = "*"
django-webtest = "~=1.9"

[dev-packages]
bandit = "*"
coverage = "*"
django-debug-toolbar = "*"
django-webtest = "*"
factory-boy = "*"
"flake8" = "*"
nplusone = "*"
codecov = "*"

[requires]
python_version = "3.6"
