beautifulsoup4==4.6.0
bleach==2.1.3
certifi==2018.4.16
cfenv==0.5.3
cg-django-uaa==1.3.0
chardet==3.0.4
dj-database-url==0.5.0
django-webtest==1.9.2
django==1.11.16
djangorestframework-csv==2.1.0
djangorestframework==3.8.2
furl==1.0.1
gevent==1.3.0
greenlet==0.4.13; platform_python_implementation == 'cpython'
gunicorn==19.8.1
html5lib==1.0.1
idna==2.6
markdown==2.6.11
newrelic==3.2.0.91
orderedmultidict==0.7.11
psycopg2-binary==2.7.4
pyjwt==1.6.1
pytz==2018.4
requests==2.18.4
six==1.11.0
unicodecsv==0.14.1
urllib3==1.22
waitress==1.1.0
webencodings==0.5.1
webob==1.8.1
webtest==2.0.29
whitenoise==3.3.1
