boto==2.0
django-appconf==1.0.1
django-pipeline==1.4.7
futures==2.2.0
GDAL==1.11.1
mbutil==0.2.0
mercurial==3.3
paramiko==1.7.7.1
pbr==0.10.7
pycrypto==2.6.1
six==1.9.0
stevedore==1.2.0
vboxapi==1.0
virtualenv==12.0.7
virtualenv-clone==0.2.5
virtualenvwrapper==4.3.1
