{% extends "base.html" %}
{% block navigation %}
  {% include "_navigation.html" %}
{% endblock %}

{% block content %}
  <h2>Utilization by Unit</h2>
  <h3>Notes:</h3>
  <p>
    The following report contains users who are marked as billable in Tock,
    organized by their unit as listed in Tock. Both attributes may be easily
    updated via the <b>Employees</b> page of the Tock <a href="/admin">admin</a>
    interface. Within each unit, employees are ordered alphabetically by last name.
  </p>
  <p>
    The contents of this page may only be viewed by Tock users who are marked as
    "staff" users. This attribute may be updated via the Tock
    <a href="/admin">admin</a> interface, as well, via the <b>Users</b> page.
  </p>
  <p>
    Utilization is calculated by dividing the total number of hours submitted on
    projects that are marked "billable" in Tock, divided by the total number of
    hours submitted on all projects for the given period.
  </p>
  <h3>Jump to:</h3>

  <ul>
    <li><a href="#all-18F">All 18F</a></li>
    {% for unit in object_list %}
      <li><a href="#{{unit.slug}}">{{unit.name}}</a></li>
    {% endfor %}
  </ul>
  {% include 'utilization/org_utilization_table.html' %}

  {% for unit in object_list %}
    <caption>
    <h3 id="{{unit.slug}}">{{unit.name}}</h3>
    </caption>
    {% if unit.utilization %}
      {% include 'utilization/unit_utilization_table.html' %}
    {% else %}
      No data available
    {% endif %}
  {% endfor %}
{% endblock %}
