{% extends "base.html" %}
{% block navigation %}
  {% include "_navigation.html" %}
{% endblock %}

{% block content %}
  <h2>Utilization by Unit</h2>
  <p>
    This report contains active 18F employees by their current business unit.
  </p>
    Checkout the <a href="https://github.com/18F/tock/blob/main/docs/utilization.md">utilization page of the documentation</a> for details on what these numbers represent and how they are calculated!
  </p>
  <p>
    This is the latest iteration in utilization reporting and an active <u>work
    in progress</u>. If an employee is missing, the numbers seem off, or you have any
    questions/concerns please don't hesitate to reach out in #tock-dev
  </p>
</p>
  <h3>Jump to:</h3>

  <ul>
    <li><a href="#all-18F">All 18F</a></li>
    {% for unit in object_list %}
      <li><a href="#{{unit.slug}}">{{unit.name}}</a></li>
    {% endfor %}
  </ul>
  {% include 'utilization/includes/org_utilization_table.html' %}

  {% for unit in object_list %}
    <caption>
    <h3 id="{{unit.slug}}">{{unit.name}}</h3>
    </caption>
    {% if unit.utilization %}
      {% include 'utilization/includes/unit_utilization_table.html' %}
    {% else %}
      No data available
    {% endif %}
  {% endfor %}
{% endblock %}
