<table class="report_table">
    <caption>
        <h3 id="all-18F">All 18F</h3>
        </caption>
    <thead>
        <th scope="col">
            Last Week<br>
            <small>(Ending {{ org_totals.last_week_end_date }})</small><br>
            <small class="usa-form-hint usa-additional_text">% billable (billable hrs / total hrs)</small>
        </th>
        <th scope="col">
            Last Month <br>
            <small>({{ org_totals.last_month_start_date }} - {{ org_totals.last_month_end_date }})</small><br>
            <small class="usa-form-hint usa-additional_text">% billable (billable hrs / total hrs)</small>
        </th>
        <th scope="col">Fiscal Year to Date<br>
            <small>(Ending {{ org_totals.this_fy_end_date }})</small><br>
            <small class="usa-form-hint usa-additional_text">% billable (billable hrs / total hrs)</small>
        </th>
    </thead>
    <tbody>
        <tr>
            {% with org_totals.last_week_totals as data %}
                {% include 'utilization/unit_utilization_cell.html' %}
            {% endwith %}
            {% with org_totals.last_month_totals as data %}
                {% include 'utilization/unit_utilization_cell.html' %}
            {% endwith %}
            {% with org_totals.this_fy_totals as data %}
                {% include 'utilization/unit_utilization_cell.html' %}
            {% endwith %}
        </tr>
    </tbody>
</table>
