# Python CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
cf-docker-image: &CF_DOCKER_IMAGE
  docker:
    - image: 18fgsa/cloud-foundry-cli
      environment:
        - TZ=America/New_York
        - CF_API: https://api.fr.cloud.gov

version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      # use `-browsers` prefix for selenium tests, e.g. `3.6.1-browsers`
      - image: circleci/python:3.6.5-jessie-node-browsers
        environment:
          - TZ=America/New_York
          - PIPENV_VENV_IN_PROJECT=true

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      - image: circleci/postgres:9.6.8
        environment:
          - POSTGRES_USER=circleci
          - POSTGRES_DB=tock-test

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "Pipfile" }}-{{ checksum "Pipfile.lock" }}-{{ checksum "package-lock.json" }}
            # fallback to using the latest cache if no exact match is found
            - v1-dependencies-

      - run:
          name: update npm
          command: sudo npm install -g npm

      - run:
          name: install dependencies
          command: |
            pip install pipenv
            pipenv install --dev --deploy
            npm ci

      - save_cache:
          paths:
            - ./.venv
            - ~/.npm
          key: v1-dependencies-{{ checksum "Pipfile" }}-{{ checksum "Pipfile.lock" }}-{{ checksum "package-lock.json" }}

      # run tests!
      - run:
          name: run tests
          command: |
            . .venv/bin/activate
            npm run build-css
            cd tock
            python manage.py migrate --noinput --settings=tock.settings.test
            python manage.py test --noinput --settings=tock.settings.test
            bandit -r . -x docker_entrypoint.py
            flake8
            codecov
            python manage.py loaddata test_data/data-update-deduped.json --settings=tock.settings.test
            python manage.py createsuperuser --username admin.user --email admin.user@gsa.gov --noinput --settings=tock.settings.test
            python manage.py runserver 0.0.0.0:8000 --settings=tock.settings.test &
            while ! nc -w 1 -z 0.0.0.0 8000; do sleep 0.1; done;
            cd ..
            npm run test

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - persist_to_workspace:
          root: .
          paths:
            - ./*

  deploy_to_staging:
    <<: *CF_DOCKER_IMAGE

    steps:
      - attach_workspace:
          at: .
      - run:
          name: Login to cloud.gov Staging
          command: cf login -a ${CF_API} -u ${CF_DEPLOYER_USERNAME_STAGING} -p ${CF_DEPLOYER_PASSWORD_STAGING}
      - run:
          name: Save version to file system
          command: echo ${CIRCLE_SHA1} > tock/VERSION
      - run:
          name: deploy Tock Staging to cloud.gov
          command: cf_deploy.sh tock gsa-18f-tock staging manifest-staging.yml

  deploy_to_production:
    <<: *CF_DOCKER_IMAGE

    steps:
      - attach_workspace:
          at: .
      - run:
          name: Login to cloud.gov Production
          command: cf login -a ${CF_API} -u ${CF_DEPLOYER_USERNAME_PRODUCTION} -p ${CF_DEPLOYER_PASSWORD_PRODUCTION}
      - run:
          name: Save version to file system
          command: echo ${CIRCLE_TAG} > tock/VERSION
      - run:
          name: Deploy Tock Production to cloud.gov
          command: cf_deploy.sh tock gsa-18f-tock prod manifest-production.yml

  recycle_production:
    <<: *CF_DOCKER_IMAGE

    steps:
      - run:
          name: Login to cloud.gov Production
          command: cf login -a ${CF_API} -u ${CF_DEPLOYER_USERNAME_PRODUCTION} -p ${CF_DEPLOYER_PASSWORD_PRODUCTION}
      - run:
          name: Install cf-recycle-plugin 1.0.0 release
          command: |
            curl -L -o cf-recycle-plugin https://github.com/rogeruiz/cf-recycle-plugin/releases/download/v1.0.0/cf-recycle-plugin.linux64
            chmod +x cf-recycle-plugin
            cf install-plugin cf-recycle-plugin -f
      - run:
          name: Recycle Tock Production instances
          command: cf recycle tock

workflows:
  version: 2
  build_pull_requests:
    jobs:
      - build:
          filters:
            branches:
              only: /.*/
  build_and_deploy_staging:
    jobs:
      - build:
          filters:
            branches:
              only: master
      - deploy_to_staging:
          requires:
            - build
          filters:
            branches:
              only: master
  build_and_deploy_production:
    jobs:
      - build:
          filters:
            tags:
              only: /v20[1-9][0-9][0-9]+\.[0-9]+/
            branches:
              ignore: /.*/
      - deploy_to_production:
          requires:
            - build
          filters:
            tags:
              only: /v20[1-9][0-9][0-9]+\.[0-9]+/
            branches:
              ignore: /.*/
  recycle-prod:
    jobs:
      - recycle_production
    triggers:
      - schedule:
          cron: "0 10 * * *" # Roughly 5am ET
          filters:
            branches:
              only: master
