utilization-chart {
  display: block;
}

utilization-chart svg {
  display: block;
}

utilization-chart .axes path {
  fill: none;
  stroke: #999;
  stroke-width: 1;
}

utilization-chart .layer path {
  fill-opacity: .8;
  stroke: #fff;
  stroke-width: .5;
}

utilization-chart .layer:hover path {
  fill-opacity: 1;
}
