html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: 2px solid transparent;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

.btn-outline {
  background-color: inherit;
  color: #477dca;
  border-color: #477dca; }
  .btn-outline:hover, .btn-outline:focus {
    background-color: inherit;
    color: #2c5999;
    border-color: #2c5999; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h2 {
  font-size: 1.5em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

.banner {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 14.70196%; }
  .banner:last-child {
    margin-right: 0; }

.content {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%; }
  .content:last-child {
    margin-right: 0; }

.reporting-periods {
  margin-top: 2em; }
  .reporting-periods h3 {
    margin-bottom: 0; }

.entries select {
  width: 100%;
  height: 34px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  margin-bottom: 0; }
.entries input[type="number"] {
  width: 65%;
  display: inline; }
.entries label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
.entries ul.entries-header {
  font-weight: 900;
  font-size: 0.8em;
  padding: 10px 10px 25px 10px;
  height: auto; }
  .entries ul.entries-header li {
    display: inline; }
    .entries ul.entries-header li:first-child {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 48.82117%; }
      .entries ul.entries-header li:first-child:last-child {
        margin-right: 0; }
    .entries ul.entries-header li:nth-child(2) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 23.23176%; }
      .entries ul.entries-header li:nth-child(2):last-child {
        margin-right: 0; }
    .entries ul.entries-header li:nth-child(3) {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 6.17215%; }
      .entries ul.entries-header li:nth-child(3):last-child {
        margin-right: 0; }

.entry-alerts {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%;
  margin-bottom: 10px; }
  .entry-alerts:last-child {
    margin-right: 0; }
  .entry-alerts .warning {
    color: crimson; }
    .entry-alerts .warning.bold {
      font-weight: bold; }
    .entry-alerts .warning.italic {
      font-style: italic; }
  .entry-alerts .important {
    color: #bb6100; }
    .entry-alerts .important.bold {
      font-weight: bold; }
    .entry-alerts .important.italic {
      font-style: italic; }
  .entry-alerts .info {
    color: green; }
    .entry-alerts .info.bold {
      font-weight: bold; }
    .entry-alerts .info.italic {
      font-style: italic; }

.entry {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5em;
  padding: 10px; }
  .entry::after {
    clear: both;
    content: "";
    display: table; }
  .entry.even {
    background-color: #fff;
    -webkit-column-span: 5;
    -moz-column-span: 5;
    column-span: 5; }
  .entry.odd {
    background-color: #B8B8B8;
    color: #fff;
    -webkit-column-span: 10;
    -moz-column-span: 10;
    column-span: 10; }
    .entry.odd .entry-alerts .warning {
      color: #500; }
    .entry.odd .entry-alerts .important {
      color: #ffdf00; }
    .entry.odd .entry-alerts .info {
      color: #0f0; }

.entry-project {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%; }
  .entry-project:last-child {
    margin-right: 0; }

.entry-billable {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .entry-billable:last-child {
    margin-right: 0; }

.entry-notes {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 65.88078%; }
  .entry-notes:last-child {
    margin-right: 0; }
  .entry-notes textarea {
    height: 100px; }

.entry-billable-icon {
  text-align: center;
  font-size: 1.5rem;
  margin-top: -0.1em; }
  .entry-billable-icon.unknown {
    color: #ccc; }
  .entry-billable-icon.billable {
    color: green; }
  .entry-billable-icon.non-billable {
    color: #1188ff; }

.entry-amount {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .entry-amount:last-child {
    margin-right: 0; }

.entry-delete {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 6.17215%; }
  .entry-delete:last-child {
    margin-right: 0; }

.entry-hidden {
  display: none; }

.entries-total .entries-add-more {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%; }
  .entries-total .entries-add-more:last-child {
    margin-right: 0; }
.entries-total .entries-total-reported {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-left: 25.58941%;
  text-align: left; }
  .entries-total .entries-total-reported:last-child {
    margin-right: 0; }
.entries-total .entries-total-billable-amount {
  color: green; }
.entries-total .entries-total-non-billable-amount {
  color: #1188ff; }
.entries-total .entries-total-reported-wrapper {
  font-weight: bold; }

.form-error,
.invalid {
  color: red;
  font-weight: bold; }

.icon-green {
  color: green; }

.icon-red {
  color: red; }

.icon-18f {
  color: #1188ff; }

.report_table__footer {
  font-weight: bold; }

.report_table th, .report_table td {
  padding: 0.75em; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.alert-red {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #E9967A;
  font-size: 0.8rem;
  padding: 0.5em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  border-radius: 0.5em;
  margin-bottom: 1em; }
  .alert-red:last-child {
    margin-right: 0; }

.alert-green {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #88cc00;
  font-size: 0.8rem;
  padding: 0.5em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  border-radius: 0.5em;
  margin-bottom: 1em; }
  .alert-green:last-child {
    margin-right: 0; }

.alert-info {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #E9967A;
  font-size: 0.8rem;
  padding: 0.5em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  border-radius: 0.5em;
  margin-bottom: 1em; }
  .alert-info:last-child {
    margin-right: 0; }

.alert-grey {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #B8B8B8;
  font-size: 0.8rem;
  padding: 0.5em;
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 82.94039%;
  border-radius: 0.5em;
  margin-bottom: 1em; }
  .alert-grey:last-child {
    margin-right: 0; }

utilization-chart {
  display: block; }
  utilization-chart svg {
    display: block; }
  utilization-chart .axis path,
  utilization-chart .axis line {
    fill: none;
    stroke: #000;
    stroke-width: 1; }

.chart {
  margin: 0;
  padding: 1em;
  background: #f9f9f9; }
  .chart .chart__title {
    margin-top: 0;
    margin-bottom: .5em; }

.chart--utilization .timeline .layer path {
  fill-opacity: .8;
  stroke: #fff;
  stroke-width: .5; }
.chart--utilization .timeline .layer:hover path {
  fill-opacity: 1; }
.chart--utilization .timeline .axis text {
  fill: #666;
  font-size: .7em; }
.chart--utilization .timeline .axis path,
.chart--utilization .timeline .axis line {
  stroke: #999;
  shape-rendering: crispEdges; }

.container {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em; }
  .container::after {
    clear: both;
    content: "";
    display: table; }

/*# sourceMappingURL=style.css.map */
