server {
  listen ${EXTERNAL_PORT} default_server;
  server_name _;

  location / {
    proxy_set_header X-Forwarded-Email "${USER_EMAIL}";
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Host $host:$server_port;
    proxy_pass ${DJANGO_SERVER};
  }
}
