{% extends "base.html" %}
{% block navigation %}
  {% include "_navigation.html" %}
{% endblock %}

{% block content %}
<h1>Tock Projects</h1>
<table class="table-responsive-reflow">
  <caption><h3>Active Projects</h3></caption>
  <thead>
  <tr class="report_table__header-row">
    <th>Project</th>
    <th>ID</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Alerts</th>
  </tr>
</thead>
<tbody>
  {% for project in object_list %}
    {% if project.active %}
  <tr class="report_table__row">
    <td>
      <a href="/projects/{{ project.id }}">{{ project.name }}</a>
    </td>
    <td data-title="ID">{{ project.id }}</td>
    <td data-title="Description">{{ project.description}}</td>
    <td data-title="Start Date">{{ project.start_date}}</td>
    <td data-title="End Date">{{ project.end_date}}</td>
    <td data-title="Alerts">
      <ul>
        {% for alert in project.alerts.all %}
          <li>
            {% if alert.destination_url %}
                <a href="{{ alert.destination_url }}" target="_blank"><span class="{{ alert.full_style }}">{{ alert.full_alert_text }}</span></a>
            {% else %}
                <span class="{{ alert.full_style }}">{{ alert.full_alert_text }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </td>
  </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>




<table class="table-minimal report_table table-responsive-reflow">
  <caption><h3>Inactive Projects</h3></caption>
  <thead>
  <tr class="report_table__header-row">
    <th>Project</th>
    <th>ID</th>
    <th>Description</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Alerts</th>
  </tr>
</thead>
<tbody>
  {% for project in object_list %}
    {% if project.active == False %}

  <tr class="report_table__row">
    <td>
      <a href="/projects/{{ project.id }}">{{ project.name }}</a>
    </td>
    <td>{{ project.id }}</td>
    <td>{{ project.description}}</td>
    <td>{{ project.start_date}}</td>
    <td>{{ project.end_date}}</td>
    <td>
      <ul>
        {% for alert in project.alerts.all %}
          <li>
            {% if alert.destination_url %}
                <a href="{{ alert.destination_url }}" target="_blank"><span class="{{ alert.full_style }}">{{ alert.full_alert_text }}</span></a>
            {% else %}
                <span class="{{ alert.full_style }}">{{ alert.full_alert_text }}</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </td>
  </tr>
    {% endif %}
  {% endfor %}
</tbody>
</table>
{% endblock %}
