{% extends "base.html" %}
{% block navigation %}
  {% include "_navigation.html" %}
{% endblock %}

{% load project_tags %}
{% load staticfiles %}

{% block content %}

<h1><a href="{% url 'ProjectListView' %}">Tock Projects</a> / {{ object.name }}</h1>

<ul>
  <li>
    <b> Project Lead: </b>
{% if project.project_lead %}
    <a href="mailto:{{ object.project_lead.email }}">{{ object.project_lead.first_name }} {{ object.project_lead.last_name }} </a>
{% else %}
    No project lead available
{% endif %}
  </li>
  <li>
    <b> Client: </b>
    {{ object.accounting_code.code }}
  <li>
    <b> Billable Status: </b>
    {% if object.accounting_code.billable %}
      Billable
    {% else %}
      Non-Billable
    {% endif %}
  </li>
  <li>
    <b> Agreement URL: </b>
{% if project.agreement_URL %}
  <a href="{{ object.agreement_URL }}"> Google Drive folder </a>
{% else %}
  No agreement URL available
{% endif %}
  </li>
  <li> <b> Alerts: </b>
{% if object.alerts.exists %}
    {% for alert in object.alerts.all %}
        {% if alert.destination_url %}
          <a href="{{ alert.destination_url }}" target="_blank"><span class="{{ alert.full_style }}">{{ alert.full_alert_text }}</span></a>
        {% else %}
          <span class="{{ alert.full_style }}">{{ alert.full_alert_text }}</span>
        {% endif %}
    {% endfor %}

{% else %}
  No alerts set
{% endif %}
  </li>
  <li>
    <b>Accounting Code:</b>
      {{ object.profit_loss_account.accounting_string|default:'No accouting string available' }}
  </li>
  <li>
    <b> Description: </b>
      {{ object.description|default:'No description available' }}
  </li>

</ul>
<h3>User Hours Summary</h3>
<ul>
  <li>
    Total hours submitted: <span id="totalHoursSubmitted">{{ total_hours_submitted }} </span>
  </li>
  <li>
    Total hours saved, but not submitted: <span id="totalHoursSaved">{{ total_hours_saved }}</span>
  </li>
  <li>
    <b>Total hours, combined:<span id="totalHoursAll"> {{ total_hours_all }}</span></b>
  </li>
  <li><a href="{% url 'reports:BulkTimecardList' %}?project={{ object.id }}">All hours in a CSV</a></li>
</ul>

<h3 class="chart__title">Latest Periods with Hours Logged</h3>
<table id="dataTable" class="striped">
  <thead>
    <th>Name</th>
    {% for period in table.periods %}
      <th>{{ period }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for user, rows in table.groups.items %}
    <tr>
      <td>{{ user }}</td>
      {% for period in table.periods %}
      <td>{{ rows|get:period|default:0.0 }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
