{% extends "base.html" %}
{% load project_tags %}

{% block content %}
<h2><a href="{% url 'ProjectListView' %}">Tock Projects</a> / {{ object.name }}</h2>

<p class="project__description">{{ object.description|default:'(no description provided)' }}</p>

<ul>
  <li> <b> Alerts: </b>
{% if object.alerts.exists %}
    {% for alert in object.alerts.all %}
        {% if alert.destination_url %}
          <a href="{{ alert.destination_url }}" target="_blank"><span class="{{ alert.full_style }}">{{ alert.full_alert_text }}</span></a>
        {% else %}
          <span class="{{ alert.full_style }}">{{ alert.full_alert_text }}</span>
        {% endif %}
    {% endfor %}

{% else %}
  No alerts have been set for this project.
{% endif %}
</li>
</ul>
<br />
<b>User Hours Summary:</b>
<br />
Total hours submitted: <span id="totalHoursSubmitted">{{ total_hours_submitted }} </span>
<br />
Total hours saved, but not submitted: <span id="totalHoursSaved">{{ total_hours_saved }}</span>
<br />
<b>Total hours, combined:<span id="totalHoursAll"> {{ total_hours_all }}</span></b>
<br />


<br/>

<figure class="chart chart--utilization">
  <h3 class="chart__title">User Hours Over Time</h3>
  <utilization-chart
    class="timeline timeline--project"
    data-url="{% url 'UserTimelineView' %}?project={{ object.id }}"
    href="/employees/{% verbatim %}{{ user }} {% endverbatim %}"
    layer="user"
    color="user"
    x="start_date"
    y="hours_spent">
  </utilization-chart>
</figure>

<br/>


<table id="dataTable" class="striped">
  <thead>
    <th>Name</th>
    {% for period in table.periods %}
      <th>{{ period }}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for user, rows in table.groups.items %}
    <tr>
      <td>{{ user }}</td>
      {% for period in table.periods %}
      <td>{{ rows|get:period|default:0.0 }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<link rel="stylesheet" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="https://www.datatables.net/release-datatables/extensions/FixedColumns/js/dataTables.fixedColumns.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  var $table = $('#dataTable').dataTable({
    scrollX: true,
    paging: false,
    lengthChange: false
  });
  new $.fn.dataTable.FixedColumns($table);
});
</script>

{% endblock %}
