{% extends "base.html" %}

{% block content %}
<h2>Tock Projects</h2>

<figure class="chart chart--utilization">
  <h3 class="chart__title">Project Hours Over Time</h3>
  <utilization-chart
    class="timeline timeline--projects"
    data-url="/api/project_timeline.csv"
    href="/projects/{% verbatim %}{{ project_id }}{% endverbatim %}"
    layer="project_name"
    color="project"
    x="start_date"
    y="hours_spent">
  </utilization-chart>
</figure>

<table class="table-minimal report_table">
  <tr class="report_table__header-row">
    <th>Project Name</th>
    <th>Tock ID</th>
    <th>Description</th>
  </tr>
  {% for project in object_list %}
  <tr class="report_table__row">
    <td>
      <a href="/projects/{{ project.id }}">{{ project.name }}</a>
    </td>
    <td>{{ project.id }}</td>
    <td>{{ project.description}}</td>
  </tr>

  {% endfor %}
</table>

{% endblock %}
