{% extends "base.html" %}
{% block content %}

{% if error %}
<h1>Whoops!</h1>
{{ error }}

<p><a href="{% url 'reports:DashboardReportsList' %}">Return to report list</a></p>

{% else %}

<h2>18F Operations Dashboard</h2>

<h4>Notes</h4>
<ul>
<li>Includes data for reporting periods through {{ rp_selected.end_date }}.</li>
<li>Targets calculated on cost recovery revenue target of {{ revenue_target_cr }} and
  financial plan revenue target of {{ revenue_target_plan }}.</li>
<li>Revenue performance calculated using a blended labor rate of {{ labor_rate }} per hour.</li>
<li>Does not include Acquisition Services or Presidential Innovation Fellows.
</ul>
<h3>Performance vs. Targets, Fiscal Year to Date</h3>
<i>{{ fytd_start_date }} to {{ rp_selected.end_date }}</i>
<table class="table-responsive-reflow">
  <caption>
    <h4>Hours</h4>
  </caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">FYTD Target</th>
      <th scope="col">FYTD Performance</th>
      <th scope="col">Variance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Cost Recovery</th>
      <td data-title="FYTD Target">{{ hours_required_cr_fytd }}</td>
      <td data-title="FYTD Performance">{{ hours_billed_fytd }}</td>
      <td data-title="Variance">{{ variance_cr_ytd }} ({{ p_variance_cr_fytd }})</td>
    </tr>
    <tr>
      <th scope="row">Financial Plan</th>
      <td data-title="">{{ hours_required_plan_fytd }}</td>
      <td data-title="">{{ hours_billed_fytd }}</td>
      <td data-title="">{{ variance_plan_fytd }} ({{ p_variance_plan_fytd }})</td>
    </tr>
  </tbody>
</table>
<table class="table-responsive-reflow">
  <caption>
    <h4>Revenue</h4>
  </caption>
  <thead>
    <tr>
      <th></th>
      <th scope="col">FYTD Target</th>
      <th scope="col">FYTD Performance</th>
      <th scope="col">Variance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Cost Recovery</th>
      <td data-title="FYTD Target">{{ revenue_required_cr_fytd }}</td>
      <td data-title="FYTD Performance">{{ rev_fytd }}</td>
      <td data-title="Variance">{{ variance_rev_cr_ytd }} ({{ p_variance_rev_cr_ytd }})</td>
    </tr>
    <tr>
      <th scope="row">Financial Plan</th>
      <td data-title="FYTD Target">{{ revenue_required_plan_fytd }}</td>
      <td data-title="FYTD Performance">{{ rev_fytd }}</td>
      <td data-title="Variance">{{ variance_rev_plan_ytd }} ({{ p_variance_rev_plan_ytd }})</td>
    </tr>
  </tbody>
</table>
<h3>Performance vs. Targets, Selected Reporting Period</h3>
<i>{{ rp_selected.start_date }} to {{ rp_selected.end_date }}</i>
<table class="table-responsive-reflow">
  <caption>
    <h4>Hours</h4>
  </caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Weekly Target</th>
      <th scope="col">Weekly Performance</th>
      <th scope="col">Variance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Cost Recovery</th>
      <td data-title="Weekly Target">{{ hours_required_cr_weekly }}</td>
      <td data-title="Weekly Performance">{{ hours_billed_weekly }}</td>
      <td data-title="Variance">{{ variance_cr_weekly }} ({{ p_variance_cr_weekly }})</td>
    </tr>
    <tr>
      <th scope="row">Financial Plan</th>
      <td data-title="Weekly Target">{{ hours_required_plan_weekly }}</td>
      <td data-title="Weekly Performance">{{ hours_billed_weekly }}</td>
      <td data-title="Variance">{{ variance_plan_weekly }} ({{ p_variance_plan_weekly }})</td>
    </tr>
  </tbody>
</table>
<table class="table-responsive-reflow">
  <caption>
    <h4>Revenue</h4>
  </caption>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Weekly Target</th>
      <th scope="col">Weekly Performance</th>
      <th scope="col">Variance</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Cost Recovery</th>
      <td data-title="Weekly Target">{{ revenue_required_cr_weekly }}</td>
      <td data-title="Weekly Performance">{{ rev_weekly }}</td>
      <td data-title="Variance">{{ variance_rev_cr_weekly }} ({{ p_variance_rev_cr_weekly }})</td>
    </tr>
    <tr>
      <th scope="row">Financial Plan</th>
      <td data-title="Weekly Target">{{ revenue_required_plan_weekly }}</td>
      <td data-title="Weekly Performance">{{ rev_weekly }}</td>
      <td data-title="Variance">{{ variance_rev_plan_weekly }} ({{ p_variance_rev_plan_weekly }})</td>
    </tr>
  </tbody>
</table>


{% endif %}
{% endblock %}
