{% extends "base.html" %}
{% block navigation %}
  {% include "_navigation.html" %}
{% endblock %}

{% block content %}

<table class="usa-table table-responsive-reflow">
  <caption>
    <h1>{{ object.user }}'s time from {{ object.reporting_period.start_date }} to {{ object.reporting_period.end_date }}</h1>
  </caption>
  <thead>
    <tr>
      <th>Project</th>
      <th>Billable</th>
      <th>Hours spent</th>
      <th>Project Allocation</th>
      <th>Notes</th>
    </tr>
  </thead>
  {% for entry in object.timecardobjects.all %}
  <tbody>
    <tr>
      <th scope="row">{{ entry.project }}</th>
      <td>
      {% if entry.project.is_billable %}
        <i class="fa fa-money icon-green"></i> <em>Billable</em>
      {% else %}
        <i class="fa fa-money icon-18f"></i> <em>Non-Billable</em>
      {% endif %}
      </td>
      <td data-title="Hours spent">{{ entry.hours_spent }}</td>
      <td data-title="Project Allocation">{% widthratio entry.project_allocation 1 100 %}%
      </td>
      <td data-title="Notes">
        {% for note in entry.notes_list %}
          <p>{{ note }}</p>
        {% endfor %}
      </td>
    </tr>
  </tbody>
  {% endfor %}
</table>
<div>First Created: {{ object.created }}</div>
<div>Last Changed: {{ object.modified }}</div>
<div>
  {% if object.submitted %}
    Submitted: {{ object.submitted_date }}
    (on time: {{ object.on_time }})
  {% else %}
    Not submitted
  {% endif %}
</div>

<table class="usa-table table-responsive-reflow">
  <caption>
    <h3>Reporting Period Summary</h3>
  </caption>
  <thead>
    <tr>
      <th>Billable Hours</th>
      <th>Billable Allocation</th>
      <th>Non-Billable Hours</th>
      <th>Excluded Hours</th>
      <th>Target Hours</th>
      <th>Utilization</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td data-title="Billable hours"> {{ user_billable_hours }} </td>
      <td data-title="Billable allocation">{% widthratio user_weekly_allocation 1 100 %}% </td>
      <td data-title="Non-Billable hours"> {{ user_non_billable_hours }} </td>
      <td data-title="Excluded hours"> {{ user_excluded_hours }} </td>
      <td data-title="Target hours"> {{ user_target_hours }} </td>
      <td data-title="Utilization"> {% widthratio user_utilization 1 100 %}% </td>
    </tr>
  </tbody>
</table>
</div>
{% endblock %}
