{% extends "base.html" %}
{% load static %}
{% block navigation %}
  {% include "_navigation.html" %}
{% endblock %}

{% load has_submitted_timesheet %}

{% block content %}

<h1>Reporting Period: {{ reporting_period.start_date }} to {{ reporting_period.end_date }}</h1>
<a href="{% url 'reports:ReportingPeriodCSVView' reporting_period %}">Download Full CSV Report</a>

<h2>Users Who Have Not Filed a Timecard!</h2>
<label for="unfiled-timecards-org-filter-select">
  Filter users by organization
</label>
<select id="unfiled-timecards-org-filter-select">
  <option value="all">All organizations</option>
  {% for organization in orgs_without_filed_timecards %}
    <option value="{{ organization }}">{{ organization }}</option>
  {% endfor %}
</select>
<table class="usa-table table-responsive-reflow" id="js-unfiled-timecards">
  <caption class="usa-sr-only">
    Table of users that have not filed a timecard for the reporting period {{ reporting_period.start_date }} to {{ reporting_period.end_date }}
  </caption>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Organization</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users_without_filed_timecards %}
    <tr>
      <td data-title="First name">{{ user.first_name }}</td>
      <td data-title="Last name">{{ user.last_name }}</td>
      <td><a href="mailto:{{ user.email }}">{{ user.email }}</td>
      <td data-title="Organization">{{ user.user_data.organization_name }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<br><br>

<table class="usa-table table-responsive-reflow">
  <caption>
    <h2>Users Who Have Filed a Timecard!</h2>
  </caption>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>View Timecard</th>
      <th>Organization</th>
    </tr>
  </thead>
  <tbody>
  {% for timecard in timecard_list %}
    <tr>
      <td data-title="First name">{{ timecard.user.first_name }}</td>
      <td data-title="Last name">{{ timecard.user.last_name }}</td>
      <td><a href="{% url 'reports:ReportingPeriodUserDetailView' reporting_period=timecard.reporting_period username=timecard.user.username %}">View Timecard</a></td>
      <td data-title="Organization">{{ timecard.user.user_data.organization_name }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<script src="{% static 'js/components/filter_report_table.js' %}"></script>
{% endblock %}
