{% extends "base.html" %}

{% block content %}

<h2>Reports</h2>
<!--TODO: use URLconf to link to the API URLs as opposed to hard coding. -->

<h3> Raw data in .csv </h3>
<ul>
	<li><a href="{% url 'reports:BulkTimecardList' %}">Complete timecard data</a></li>
	<li><a href="{% url 'reports:SlimBulkTimecardList' %}">Complete timecard data with fewer fields</a></li>
	<li><a href="{% url 'reports:ProjectTimelineView' %}">Aggregate hourly data by project and reporting period</a></li>
	<li><a href="{% url 'reports:UserTimelineView' %}">Aggregate hourly data by user, reporting period, and project billable status</a></li>
	<li><a href="{% url 'reports:ProjectList' %}">List of all projects</a></li>
	<li><a href="{% url 'reports:UserDataView' %}">List of all users</a></li>

<div class="reporting-periods">
	<h3>Reports by weekly reporting period</h3>
	{% for fiscal_year, reporting_periods in object_list %}
	Fiscal Year {{ fiscal_year }}
	<ul>
	{% for reporting_period in reporting_periods %}
	    <li><a href="{% url 'reports:ReportingPeriodDetailView' reporting_period %}">{{ reporting_period.start_date | date:"F j, Y" }} to {{ reporting_period.end_date | date:"F j, Y" }}</a> (<em><a href="{% url 'reports:ReportingPeriodCSVView' reporting_period %}">CSV</a></em>)</li>
	{% endfor %}
	</ul>
	{% endfor %}
</div>
{% endblock %}
