{% extends "base.html" %}

{% block content %}

<h2>Welcome to Tock!</h2>
Tock is a new, <strong>innovative</strong>, one-stop-shop portal for 


<div class="reporting-periods">
	<h3>Reporting Periods You Need to Fill Out</h3>
	<ul>
	{% for reporting_period in uncompleted_reporting_periods %}
	    <li><a href="/timesheet/{{ reporting_period }}">{{ reporting_period.start_date | date:"F j, Y" }} to {{ reporting_period.end_date | date:"F j, Y" }}</a></li>
	{% endfor %}
	</ul>
</div>

<div class="reporting-periods">
	<h3>Reporting Periods You've Filed a Timecard For</h3>
	<ul>
	{% for reporting_period in completed_reporting_periods %}
	    <li><a href="/timesheet/{{ reporting_period }}">{{ reporting_period.start_date | date:"F j, Y" }} to {{ reporting_period.end_date | date:"F j, Y" }}</a></li>
	{% endfor %}
	</ul>
</div>
{% endblock %}