{% extends "base.html" %}
{% load has_submitted_timesheet %}

{% block content %}

<h2>Reporting Period {{ object.start_date }}!</h2>
<a href="{% url 'reports:ReportingPeriodCSVView' object %}">Download Full CSV Report</a>
<table>
<tr>
	<th>User</th>
	<th>Timecard Filed</th>
</tr>
{% for user in users %}
<tr>
	<td>{% if user|has_submitted_timesheet:object %}<a href="{% url 'reports:ReportingPeriodUserDetailView' reporting_period=object user=user.username %}">{{ user }}</a>{% else %}{{ user }}{% endif %}</td>
	<td>{% if user|has_submitted_timesheet:object %}<i class="fa fa-check-square icon-green"></i> Yes{% else %}<i class="fa fa-minus-square icon-red"></i> No{%endif %}</td>
</tr>
{% endfor %}
</table>

{% endblock %}