{% extends "base.html" %}
{% load is_billable %}

{% block content %}
<h2>Tell us about your time</h2>

<form class="form-horizontal form-inline" method="post">
  {% csrf_token %}
  {% if formset.errors %}
    <div class="form-error">{{ formset.non_form_errors }}</div>
  {% endif %}
  {{ formset.management_form }}
  <div class="entries">
    <ul class="entries-header">
      <li>PROJECTS</li>
      <li>BILLABLE</li>
      <li>HOURS</li>
    </ul>
    {% for project_entry in formset %}
      <div class="entry" id="entry-{{ forloop.counter0 }}">
        <div class="entry-project">
          <label for="project">Project:</label>
          <select id="{{ project_entry.project.id_for_label }}" name="{{ project_entry.project.html_name }}">
            {% for id, name in project_entry.project.field.choices %}
              <option value{% if id %}="{{ id }}"{% endif %} {% if project_entry.project.value == id %} selected{% endif %} data-billable="{% if id %}{% is_billable id %}{% endif %}">{{ name }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="entry-billable">
          <label for="billable">Billable:</label>
          <div class="entry-billable-icon unknown">
            <i class="fa fa-money"></i>
          </div>
        </div>
        <div class="entry-amount">
          <label for="hours">Hours Spent:</label>
          {{ project_entry.hours_spent }}
        </div>
        <div class="entry-hidden">
          {{ project_entry.timecard }}
          {{ project_entry.id }}
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="entries-total">
    <div class="entries-add-more">
      <button type="button" class="btn btn-info add-timecard-entry">Add More Items</a>
      </button>
    </div>
    <div class="entries-total-reported">
      Billable: <span class="entries-total-billable-amount">0</span> hours<br>
      Non-Billable: <span class="entries-total-non-billable-amount">0</span> hours
      <div class="entries-total-reported-wrapper">
        Total: <span class="entries-total-reported-amount">0</span> hours
      </div>
      <button type="submit" class="btn btn-primary">Submit Timecard</button>
    </div>
  </div>
 </form>

 <script>
 function getHourTotals() {
    // Get the total of all timecard object entries
    var billableTotal = 0;
    var nonBillableTotal = 0;
    var hoursTotal = 0;
    $('.entry-amount input').each(function(i) {
      var billableStatus = $(this).parent().parent().children('.entry-project').children('select').children('option:selected').data('billable');
      if (billableStatus === 'billable') {
        billableTotal += ($(this).val() / 1);
      }
      if (billableStatus === 'non-billable') {
        nonBillableTotal += ($(this).val() / 1);
      }
    });
    hoursTotal = billableTotal + nonBillableTotal;
    return {'billableTotal': billableTotal, 'nonBillableTotal': nonBillableTotal, 'hoursTotal': hoursTotal};
  }

  function populateHourTotals(){
    // Populate The Bottom Addon Items with Totals
    var totals = getHourTotals();
    $('.entries-total-billable-amount').html(totals['billableTotal']);
    $('.entries-total-non-billable-amount').html(totals['nonBillableTotal']);
    $('.entries-total-reported-amount').html();

    $('.entries-total-reported-amount').html(totals['hoursTotal']);
    if (totals['hoursTotal'] != 40) {
      $('.entries-total-reported-amount').addClass('invalid');
    }
    else {
      $('.entries-total-reported-amount').removeClass('invalid');
    }
  }

  function isBillable() {
    // Determine if a project is billable or not and append the proper class
    $('.entry-project option:selected').each(function(i) {
      var billableStatus = $(this).data('billable');
      var element = $(this).parent().parent().next('.entry-billable').children('.entry-billable-icon').first();

      if (billableStatus === 'billable') {
        element.addClass('billable');
        element.removeClass('non-billable');
        element.removeClass('unknown');
      }
      if (billableStatus === 'non-billable') {
        element.addClass('non-billable');
        element.removeClass('billable');
        element.removeClass('unknown');
      }
    });
  }

  // When you change the hours, redo the totals
  $( "body" ).on( "keyup", ".entry-amount input", function() {
    populateHourTotals();
  });

  $( "body" ).on( "click", ".entry-amount input", function() {
    populateHourTotals();
  });

  // When you change a project, redo the totals
  $( "body" ).on( "change", ".entry-project select", function() {
    isBillable();
    populateHourTotals();
  });


$( document ).ready(function() {
    $(".add-timecard-entry").on( "click", function() {
        $('div.entry:last').clone().each(function(i) {
            $(this).find('input,select').each(function(i) {
                // Remove any existing values
                $(this).val('');

                // update the id attributes, incrementing the form number, e.g.: "id_form-1-field_name"
                parts = $(this).attr('id').split('-', 3);
                num = parseInt(parts[1]) + 1;
                $(this).attr('id', parts[0] + '-' +num + '-' +parts[2]);

                // Update the name attribute, e.g.: form-1-field_name
                parts = $(this).attr('name').split('-', 3);
                num = parseInt(parts[1]) + 1;
                $(this).attr('name', parts[0] + '-' +num + '-' +parts[2]);

            });

            // Update the "for" attribute for all labels
            $(this).find('label').each(function(i) {
                parts = $(this).attr('for').split('-', 3);
                num = parseInt(parts[1]) + 1;
                $(this).attr('for', parts[0] + '-' +num + '-' +parts[2]);
            });

            parts = $(this).attr('id').split('-', 3);
            num = parseInt(parts[1]) + 1;
            $(this).attr("id", parts[0] + '-' +num);
            $(this).attr("name", parts[0] + '-' +num);
        }).appendTo('.entries');

        // Increment the TOTAL_FORMS
        $('#id_timecardobject_set-TOTAL_FORMS').val(parseInt($('#id_timecardobject_set-TOTAL_FORMS').val()) + 1);
    });


    // Run on initial load
    populateHourTotals();
    isBillable();
});
 </script>
{% endblock %}