{% extends "base.html" %}

{% block content %}
<h2>Tell us about your time for <span class="reporting-period"> {{ object.reporting_period.start_date }} to {{ object.reporting_period.end_date }}</span></h2>

<div class="usa-alert usa-alert-info">
  <div class="usa-alert-body">
    <p class="usa-alert-text">
      <strong>Submit your time card for the week</strong> by the end of the day on Friday (or the last business day of the week). If you are authorized to work on Saturday for any reason, enter and submit your time by the end of the day on Saturday.
    </p>
  </div>
</div>
<form class="form-horizontal form-inline" method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <div class="entries">
    <ul class="entries-header">
      <li>PROJECTS</li>
      <li>HOURS</li>
      {% if unsubmitted %}<li>DELETE?</li>{% endif %}
    </ul>
    {% for project_entry in formset %}
      <div class="entry {% if forloop.counter0|divisibleby:2 %}even{% else %}odd{% endif %}" id="entry-{{ forloop.counter0 }}">
        <div class="entry-project">
          {{ project_entry.project.label_tag }}
          {{ project_entry.project }}
          </select>
        </div>
        <div class="entry-amount">
          {{ project_entry.hours_spent.label_tag }}
          {{ project_entry.hours_spent }}
        </div>
        {% if unsubmitted %}
        <div class="entry-delete">
          {{ project_entry.DELETE.label_tag }}
          {{ project_entry.DELETE }}
        </div>
        {% endif %}
        <div class="entry-hidden">
          {{ project_entry.timecard }}
          {{ project_entry.id }}
        </div>
        <div class="entry-alerts" id="entry-alerts">
        </div>
        <div class="entry-hidden" id="entry-notes">
          {{ project_entry.notes.label_tag }}
          {{ project_entry.notes.help_text }}
          {% if project_entry.notes.errors %}
            <div class="invalid">
              {{ project_entry.notes.errors }}
            </div>
          {% endif %}
          {{ project_entry.notes }}
        </div>
      </div>
    {% endfor %}
  </div>
  {% if formset.errors %}
    <div class="alert-red"><b>{{ formset.non_form_errors }}</b></div>
  {% endif %}
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <b><li{% if message.tags %} class="alert-{{ message.tags }}"{% endif %}>{{ message | safe }}</li></b>
    {% endfor %}
  </ul>
  {% endif %}
  <div class="entries-total">
    <div class="entries-add-more"></br>
      <button type="button" class="add-timecard-entry">Add More Items</a>
      </button>
    </div>
    <div class="entries-total-reported">
      <div class="entries-total-reported-wrapper">
        Total: <span class="entries-total-reported-amount">0</span> hours
      </div>
      <button type="button" class="usa-button-outline" id="save-timecard">Save</button>
      <button type="submit">Submit</button>
    </div>
  </div>
 </form>


 <script>
 function getHourTotals() {
    // Get the total of all timecard object entries
    var hoursTotal = 0;
    $('.entry-amount input').each(function(i) {
      var is_checked = $(this).parents('.entry')
          .find('.entry-delete input')
          .prop('checked');

      if (!is_checked) hoursTotal += ($(this).val() / 1);
    });
    return {'hoursTotal': hoursTotal};
  }

  function populateHourTotals(){
    // Populate The Bottom Addon Items with Totals
    var totals = getHourTotals();
    $('.entries-total-reported-amount').html();

    $('.entries-total-reported-amount').html(totals['hoursTotal']);
    if (totals['hoursTotal'] != 40) {
      $('.entries-total-reported-amount').addClass('invalid');
    }
    else {
      $('.entries-total-reported-amount').removeClass('invalid');
    }
  }

  function toggleNotesField(selectBox) {
    var $fieldset = $(selectBox).parent().parent(),
        $selected = $(selectBox).find(':selected'),
        $notes = $fieldset.find('#entry-notes'),
        notesDisplayed = $selected.data('notes-displayed'),
        notesRequired = $selected.data('notes-required');

    if (notesRequired || notesDisplayed) {
        $notes.removeClass('entry-hidden').addClass('entry-notes');
    } else {
        $notes.addClass('entry-hidden').removeClass('entry-notes');
    }
  }

  function displayAlerts(selectBox) {
    var $fieldset = $(selectBox).parent().parent(),
        $selected = $(selectBox).find(':selected'),
        $alerts = $fieldset.find('#entry-alerts'),
        all_alerts = $selected.data('alerts'),
        alert_text;

    $alerts.empty();

    if (all_alerts !== undefined) {
      all_alerts = JSON.parse(JSON.parse('"' + all_alerts + '"'));

      for (var i = 0; i < all_alerts.length; i++) {
        alert_text = all_alerts[i].text;

        if (all_alerts[i].url !== '' && all_alerts[i].url !== undefined) {
            alert_text = '<a href="' + all_alerts[i].url + '" target="_blank">' + alert_text + '</a>';
        }

        $alerts.append(
            '<div class="' + all_alerts[i].style + '">' + alert_text + '</div>'
        );
      }
    } else {
      $alerts.empty();
    }
  }

  // When you change the hours, redo the totals
  $( "body" ).on( "keyup", ".entry-amount input", function() {
    populateHourTotals();
  });

  $( "body" ).on( "click", ".entry-amount input, .entry-delete input", function() {
    populateHourTotals();
  });

  // When you change a project, redo the totals
  $( "body" ).on( "change", ".entry-project select", function() {
    populateHourTotals();
  });


$( document ).ready(function() {
    var chosenOptions = {
      search_contains: true
    };

    $("#save-timecard").on("click", function() {
      var form = $('form'),
          save_input = '<input type="hidden" name="save_only" value="1"/>';

      form.append(save_input);
      form.submit();
    });

    $(".add-timecard-entry").on( "click", function() {
        $('div.entry:last').clone().each(function(i) {
          var entry = $(this);
          entry.find('.chosen-container').remove();
          entry.find('#entry-alerts').empty();
          entry.find('#entry-notes').addClass('entry-hidden').removeClass('entry-notes');
          entry.find('#entry-notes .invalid').remove();
          entry.find('select').show();
          entry.find('input, select, textarea').val('');
          entry.find(':checkbox').prop('checked', false);

          // Remove any existing values
          entry.val('');

          var previousNumber = parseInt(entry.attr('id').split('-')[1]);
          var nextNumber = previousNumber + 1;

          entry.attr('id', 'entry-' + nextNumber);
          nextNumber % 2 == 0 ? entry.addClass('even').removeClass('odd') :
            entry.addClass('odd').removeClass('even');

          entry.find('input, select, textarea').each(function(i) {
            var formItem = $(this);
            var formerID = formItem.attr('id');
            var nextID = formerID.replace(previousNumber, nextNumber);
            formItem.attr('id', nextID);

            var formerName = formItem.attr('name');
            var nextName = formerName.replace(previousNumber, nextNumber);
            formItem.attr('name', nextName);
          });
        }).appendTo('.entries');

        $('div.entry:last').find('.entry-project select')
          .chosen(chosenOptions)
          .on('change', function(e) {
            toggleNotesField(this);
            displayAlerts(this);
          });

        // Increment the TOTAL_FORMS
        $('#id_timecardobjects-TOTAL_FORMS').val(parseInt($('#id_timecardobjects-TOTAL_FORMS').val()) + 1);
    });

    // Run on initial load
    populateHourTotals();

    $('.entry-project select')
      .chosen(chosenOptions)
      .on('change', function(e) {
          toggleNotesField(this);
          displayAlerts(this);
      });

    // Force an update to each project selection menu in case a notes field
    // needs to be re-displayed.
    $('.entry-project select').trigger('change');
});
 </script>
{% endblock %}
