{% extends "base.html" %}

{% block content %}

<h2>Utilization by Unit</h2>
<br />
{% if request.user.is_staff %}

 {% for i in unit_choices %}

<h3>{{i.1}} </h3>

<table class="table-minimal report_table">
	<tr class="report_table__header-row">
		<th>Name</th>
		<th>Last Week <br /> (Ending {{ through_date }})</th>
		<th>Last Four Weeks <br /> ({{ last_four_start_date }} - {{ through_date }})</th>
    <th>Fiscal Year to Date <br /> (Through {{ through_date }})</th>
	</tr>

	{% for userdata in object_list %}

    {% if userdata.unit is i.0 %}
    <tr class="report_table__row">
      <td>
        {{ userdata.user.first_name }} {{ userdata.user.last_name }}
      </td>
      <td>{{ userdata.last }}</td>
      <td>{{ userdata.last_four }}</td>
      <td>{{ userdata.fytd }}</td>
    </tr>
    {% endif %}
	{% endfor %}
</table>
<br />

{% endfor %}

{% else %}

{% endif %}

Group utilization.

{% endblock %}
