{% if recent_timecards %}
<h2>Recent Tocks</h2>
<table>
  <thead>
    <th>Project</th>
    {% for tc in recent_timecards %}
    <th><a
        href={% url "reports:ReportingPeriodUserDetailView" reporting_period=tc.reporting_period.start_date username=tc.user.username %}>
        {{tc.reporting_period.start_date}}
      </a>
    </th>
    {% endfor %}
  </thead>
  <tbody>
    {% for project, hours in recent_billing_table.items %}
    <tr>
      <td><a href={{project.get_absolute_url}}>{{project}}</a></td>
      {% for count in hours %}
      <td>{{ count }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endif %}
