<div>
    Hello,
</div>
<p style="text-indent: 4ch;">
    I request approval to travel from <b>{{ home_location }}</b> to <b>{{ work_location }}</b>.  The dates of travel are <b>{{ departure_date }}</b> - <b>{{ return_date }}</b>.  I will depart the <b>{{ departure_date }}</b>, to arrive in time for <b>{{ work_to_be_done }}</b> scheduled for <b>{{ first_day_of_travel_work_date }}</b>.  I will return to <b>{{ home_location }}</b> on <b>{{ return_date }}</b>.
</p>
<p style="text-indent: 4ch;">
    Please reply with your approval, or with any subsequent clarifications you may have.
</p>
<div>
    Many thanks,
</div>
<div>
    {{ requestor_name }}
</div>
