{% extends "base.html" %}
{% block navigation %}
  {% include "_navigation.html" %}
{% endblock %}

{% block content %}
  <h1>Let's Tock about {{ object.user.first_name }} {{ object.user.last_name }}!</h1>
  <table id="dataTable" class="striped">
    <tr>
      <td><b>First Name:</b></td>
      <td>{{ object.user.first_name }}</td>
    </tr>
    <tr>
      <td><b>Last Name:</b></td>
      <td>{{ object.user.last_name }}</td>
    </tr>
    <tr>
      <td><b>Employment Start Date:</b></td>
      <td>{{ object.start_date }}</td>
    </tr>
    {% if object.end_date %}
    <tr>
      <td><b>Employment End Date:</b></td>
      <td>{{ object.end_date }}</td>
    </tr>
    {% endif %}
  </table>

{% include 'employees/user_utilization.html' %}
{% include 'employees/user_recent_tocks.html' %}
{% endblock %}

{% block js %}
<script>
$(function() {
	$( ".datepicker" ).datepicker();
});
</script>
{% endblock %}
