{% load index %}

{% if recent_timecards %}
<h2>Recent Tocks</h2>
<table>
  <thead>
    <th>Project</th>
    {% for tc in recent_timecards %}
    <th><a
        href={% url "reports:ReportingPeriodUserDetailView" reporting_period=tc.reporting_period.start_date username=tc.user.username %}>
        {{tc.reporting_period.start_date}}
      </a>
    </th>
    {% endfor %}
  </thead>
  <tbody>
    {% for project, hours in recent_billing_table.items %}
    <tr>
      <td><a href={{project.get_absolute_url}}>{{project}}</a></td>
      {% for count in hours %}
      <td>{{ count }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr><th scope="row"><b>Totals</b></th></tr>
    <tr>
    <th scope="row"><b>Billable</b></th>
      {% for i in recent_timecards %}
        {% with recent_timecards|index:forloop.counter0 as tc %}
          <td>{{tc.billable_hours}}</td>
        {% endwith %}
      {% endfor %}
    </tr>
    <tr>
    <th scope="row"><b>Non-Billable</b></th>
      {% for i in recent_timecards %}
      {% with recent_timecards|index:forloop.counter0 as tc %}
        <td>{{tc.non_billable_hours}}</td>
      {% endwith %}
    {% endfor %}
    </tr>
    <tr>
    <th scope="row"><b>Excluded from Utilization</b></th>
    {% for i in recent_timecards %}
      {% with recent_timecards|index:forloop.counter0 as tc %}
        <td>{{tc.excluded_hours}}</td>
      {% endwith %}
    {% endfor %}
    </tr>
    <tr>
      <th scope="row"><b>Billable Expectation</b></th>
      {% for i in recent_timecards %}
        {% with recent_timecards|index:forloop.counter0 as tc %}
          <td>{{tc.billable_expectation}}</td>
        {% endwith %}
      {% endfor %}
      </tr>
    <th scope="row"><b>Target Hours</b></th>
    {% for i in recent_timecards %}
      {% with recent_timecards|index:forloop.counter0 as tc %}
        <td>{{tc.target_hours}}</td>
      {% endwith %}
    {% endfor %}
    </tr>
    <th scope="row"><b>Utilization</b></th>
    {% for i in recent_timecards %}
      {% with recent_timecards|index:forloop.counter0 as tc %}
        <td>{% widthratio tc.utilization 1 100 %}%</td>
      {% endwith %}
    {% endfor %}
    </tr>
</table>
{% endif %}
