{% extends "base.html" %}
{% block navigation %}
  {% include "_navigation.html" %}
{% endblock %}

{% block content %}
<table class="table-responsive-reflow">
  <caption>
    <h1>Tock Users</h1>
  </caption>
  <thead>
    <tr>
      <th>Email Address</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>
  <tbody>
  {% for user in object_list %}
    <tr>
      <td>
      {% if request.user.is_superuser or request.user.username == user.username %}
        <a href="/employees/e/{{ user.username }}">{{ user.username }}</a>
      {% else %}
        <a href="/employees/{{ user.username }}">{{ user.username }}</a>
      {% endif %}
      </td>
      <td data-title="First name">{{ user.first_name }}</td>
      <td data-title="Last name">{{ user.last_name }}</td>
      <td data-title="Start date">{{ user.user_data.start_date }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
