.banner {

  a {

    text-decoration: none;

    &:hover {

    }
  }
}

.usa-logo {
  a {
    vertical-align: middle;
	}
}

.usa-logo-text {
  img {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
	}
  @include media($nav-width) {
    img {
      height: 50px;
    }
  }
}
