.usa-logo {
  a {
    vertical-align: middle;
       }
}

.usa-logo__text {
  img {
    display: inline-block;
    height: 28px;
    vertical-align: middle;
       }
  @media screen and (min-width: $nav-width) {
    img {
      height: 50px;
    }
  }
}
