.chart {
  margin: 0;
  padding: 1em;
  background: #f9f9f9;

  .chart__title {
    margin-top: 0;
    margin-bottom: .5em;
  }
}

.chart--utilization .timeline {
  .layer path {
    fill-opacity: .8;
    stroke: #fff;
    stroke-width: .5;
  }

  .layer:hover path {
    fill-opacity: 1;
  }
}
