.entries {
	.entry:last-child {
		border-bottom: 2px solid $color-gray-light;
	}
	select {
		width:100%;
		color: #555;
		background-color: #fff;
		border: 1px solid #5b616b;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		margin-bottom:0;
	}
	input[type="number"] {
		width: 65%;
		display:inline;
	}
	ul.entries-header {
		font-weight: 900;
		font-size: 0.8em;
		padding: 10px 10px 25px 10px;
		height: auto;
		li {
			display: inline;
		}
	}
}

.entry-alerts {
    margin-bottom: 10px;

    .warning {
        color: crimson;

        &.bold {
            font-weight: bold;
        }

        &.italic {
            font-style: italic;
        }
    }

    .important {
        color: #bb6100;


        &.bold {
            font-weight: bold;
        }

        &.italic {
            font-style: italic;
        }
    }

    .info {
        color: green;

        &.bold {
            font-weight: bold;
        }

        &.italic {
            font-style: italic;
        }
    }
}



.entry {
	border-top: 2px solid $color-gray-lighter;
	background-color: $color-gray-lightest;
	padding: 1em;

.grid-container {
	padding-bottom: .25rem;
	padding-top: .25rem;
}

    &.even {
        background-color: #fff;


    }

    &.odd {
			.grid-container {
			background-color: $color-gray-lightest;
}


        .entry-alerts {
            .warning {
                color: #500;
            }

            .important {
                color: #ffdf00;
            }

            .info {
                color: #0f0;
            }
        }
    }
}

/*.entry-project {
	@include span-columns(6);
}*/

.entry-billable {

}

.entry-notes {


    textarea {
        height: 100px;
    }
}

.entry-billable-icon {
	text-align:center;
	font-size: 1.5rem;
	margin-top: -0.1em;
	&.unknown {
		color: #ccc;
	}
	&.billable {
		color: green;
	}
	&.non-billable {
		color: #1188ff;
	}
}

.entry-amount {

}

.entry-project label, .entry-amount label, .entry-note-field label {
  @extend .usa-label;
}
.entry-amount input[type=text], .entry-amount input[type=number] {
  @extend .usa-input;
}
.entry-delete {
  margin-top: 2em;
  label {
    @extend .usa-checkbox__label;
  }
  input[type=checkbox] {
    @extend .usa-checkbox__input;
  }
}
.entry-note-field textarea {
  @extend .usa-textarea;
}

.entry-hidden {
	display: none;
}

.entries-add-more {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
}

.entries-total {
  .text-label {
    display: inline-block;
    margin-bottom: 1rem;
  }
}

.entries-total-reported-amount, .entries-total-billable-amount {
  &, .number-label, .circular-graph {
    width: 60px;
    height: 60px;
  }

  .number-label {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
  }

  .circular-graph {
    transform: rotate(-90deg);
    position: absolute;
    left: 0;

    .background {
      fill: none;
      stroke: $color-primary-alt-lightest;
      stroke-width: 3;
      transition: stroke-dasharray 0.3s ease-out;
    }

    .fill {
      fill: none;
      stroke: currentColor;
      stroke-width: 3;
      transition: stroke-dasharray 0.3s ease-out;
    }
  }

  &.invalid {
    color: $color-secondary-dark;
  }

  &.valid {
    color: $color-green;
  }

  display: block;
  position: relative;
  color: $color-primary-alt-lightest;
}

.entries-total {
	background: $color-primary-alt-light;
	padding: 1em;
	.add-timecard-entry,
	.add-timecard-entry:first-child  {
		margin-top: 1em;
	}
	.entries-total-reported {
		text-align:left;
    .usa-button-outline {
      float: left;

      &:hover {
        background-color: transparent;
      }
    }

    [type="submit"] {
      margin-top: 0.5em;
    }
	}
}

.form-error,
.invalid {
	font-weight: bold;
}

.reporting-period {

}
.submit-form {
	padding: 1.5rem;
	[type=submit] {
		display: inline-block;
	}
}
.timecard-footer {
	margin-bottom: 6rem;
}
