.entries {
	.entry:last-child {
		border-bottom: 2px solid $color-gray-lighter;
	}
	select {
		width:100%;
		color: #555;
		background-color: #fff;
		border: 1px solid #5b616b;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		margin-bottom:0;
	}
	input[type="number"] {
		width: 65%;
		display:inline;
	}

	/*label {
		border: 0;
	  clip: rect(0 0 0 0);
	  height: 1px;
	  margin: -1px;
	  overflow: hidden;
	  padding: 0;
	  position: absolute;
	  width: 1px;
	}*/
	ul.entries-header {
		font-weight: 900;
		font-size: 0.8em;
		padding: 10px 10px 25px 10px;
		height: auto;
		li {
			display: inline;
		}
	}
}

.entry-alerts {
    margin-bottom: 10px;

    .warning {
        color: crimson;

        &.bold {
            font-weight: bold;
        }

        &.italic {
            font-style: italic;
        }
    }

    .important {
        color: #bb6100;


        &.bold {
            font-weight: bold;
        }

        &.italic {
            font-style: italic;
        }
    }

    .info {
        color: green;

        &.bold {
            font-weight: bold;
        }

        &.italic {
            font-style: italic;
        }
    }
}



.entry {
	border-top: 2px solid $color-gray-lighter;
	background-color: $color-gray-lightest;
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;

.usa-grid {
	padding-bottom: .25rem;
	padding-top: .25rem;
}

    &.even {
        background-color: #fff;


    }

    &.odd {
			.usa-grid {
			background-color: $color-gray-lightest;
}


        .entry-alerts {
            .warning {
                color: #500;
            }

            .important {
                color: #ffdf00;
            }

            .info {
                color: #0f0;
            }
        }
    }
}

/*.entry-project {
	@include span-columns(6);
}*/

.entry-billable {

}

.entry-notes {


    textarea {
        height: 100px;
    }
}

.entry-billable-icon {
	text-align:center;
	font-size: 1.5rem;
	margin-top: -0.1em;
	&.unknown {
		color: #ccc;
	}
	&.billable {
		color: green;
	}
	&.non-billable {
		color: #1188ff;
	}
}

.entry-amount {

}

.entry-delete {

}

.entry-hidden {
	display: none;
}

.entries-add-more {
	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	background: $color-gray-lightest;
}

.entries-total-reported-amount {
	display:block;
border: 1px solid #5b616b;
border-radius: 0;
box-sizing: border-box;
color: #1F2E4A;
display: block;
font-size: 1.7rem;
height: 4.4rem;
line-height: 1.3;
margin: 0.2em 0;
max-width: 46rem;
outline: none;
padding: 1rem 0.7em;
width: 65%;
background-color: $color-green-lightest;
&.invalid {
	background-color: $color-secondary-dark;
	color: #fff;
}
}

.entries-total {

	padding-bottom: 1.5rem;
	padding-top: 1.5rem;
	.entries-total-reported {


		text-align:left;

    .usa-button-outline {
      float: left;

      &:hover {
        background-color: transparent;
      }
    }

    [type="submit"] {
      margin-top: 0.5em;
    }
	}
	.entries-total-billable-amount {
		color: green;
	}
	.entries-total-non-billable-amount {
		color: #1188ff;
	}
	.entries-total-reported-wrapper {
		font-weight:bold;
	}
}

.form-error,
.invalid {
	font-weight: bold;
}

.reporting-period {

}
.submit-form {
	padding-bottom: 3rem;
	padding-top: 3rem;
	background-color: $color-gray-lighter;
	[type=submit] {
		display: inline-block;
	}
}
