// General
// This corresponds to the variables set in: 
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-general.scss

// Typographic
// This corresponds to variables set in:
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-typography.scss

$theme-font-type-sans:     "public-sans";

// Spacing
// This corresponds to variables set in:
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-spacing.scss

$theme-site-margins:       3rem;

// Color
// This corresponds to variables set in:
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-color.scss

$theme-color-base: color('gray-cool-50');
$theme-color-base-dark: color('gray-cool-60');
$theme-color-base-light: color('gray-cool-30');
$theme-color-base-lighter: color('gray-cool-10');
$theme-color-base-lightest: color('gray-5');

$theme-color-primary: color('blue-60v');
$theme-color-primary-dark: color('blue-warm-70v');
$theme-color-primary-darker: color('blue-warm-80v');

$theme-color-secondary: color('red-50');
$theme-color-secondary-dark: color('red-60v');

$theme-color-accent-cool-darker: color('blue-cool-60v');
$theme-color-accent-cool-light: color('blue-cool-20v');
$theme-color-accent-cool-lighter: color('blue-cool-5v');

$theme-color-success: color('green-cool-40v');

// Utilities
// This corresponds to variables set in:
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-utilities.scss
