// General
// This corresponds to the variables set in: 
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-general.scss

// Typographic
// This corresponds to variables set in:
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-typography.scss

$theme-font-type-sans:     "public-sans";

// Spacing
// This corresponds to variables set in:
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-spacing.scss

$theme-site-margins:       3rem;

// Color
// This corresponds to variables set in:
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-color.scss

$theme-color-base: 'gray-cool-50';
$theme-color-base-dark: 'gray-cool-60';
$theme-color-base-light: 'gray-cool-30';
$theme-color-base-lighter: 'gray-cool-10';
$theme-color-base-lightest: 'gray-5';

$theme-color-primary: 'blue-60';
$theme-color-primary-dark: 'blue-warm-70v';
$theme-color-primary-darker: 'blue-warm-80v';

$theme-color-secondary: 'red-50';
$theme-color-secondary-dark: 'red-60v';

$theme-color-accent-cool-darker: 'blue-cool-60v';
$theme-color-accent-cool-light: 'blue-cool-20v';
$theme-color-accent-cool-lighter: 'blue-cool-5v';

$theme-color-success: 'green-cool-40v';

// Utilities
// This corresponds to variables set in:
// https://github.com/uswds/uswds/blob/develop/src/stylesheets/theme/_uswds-theme-utilities.scss
