.icon-green {
	color: green;
}

.icon-red {
	color: red;
}

.icon-18f {
	color: #1188ff;
}

.report_table__footer {
	font-weight:bold;
}

.report_table th, .report_table td {
    padding: 0.75em;
}

.report_table {
	thead th, th {
		background-color: color("gray-4");
	}
	.usa-hint {
		color: #5c5c5c;
		font-weight: normal;
	}
}

