@import "base/variables";
@import "uswds";
@import "base/base";

@import "banner";
@import "content";
@import "entries";
@import "utils";
@import "alert";

.tock-header {
  background-color: $color-primary-alt-light;
}

// backwards compat with USWDS 1.x
li {
    line-height: 1.5;
    margin-bottom: 0.5em;
}

// hack to adjust forms to USWDS 1.x
.usa-form label {
  @extend .usa-label;
}
.usa-form select {
  @extend .usa-select;
}
.usa-form input[type=text], .usa-form input[type=number] {
  @extend .usa-input;
}
.usa-form input[type=submit], .usa-form input[type=file]{
  @extend .usa-button;
}

.container {
  margin-top: 5rem;
  max-width: 111.3rem;
}

html .chosen-container-single {
  font-size:initial;
  width: 100% !important;
  .chosen-single {
    padding: 0.7em;
    height: inherit;
    background: #fff;
    border-radius: 0;
    border-color: #5b616b;
    box-shadow:none;
    line-height: 1.3;
    margin: 0.2em 0;

    div b {
      width: 13px;
      background: url(../../vendor/uswds_v2.3.1/img/angle-arrow-down-primary.svg) no-repeat 0 1.1rem;
      background-size: 100%;
    }
  }
}
html .chosen-container-active.chosen-with-drop .chosen-single {
  background: #fff;
  div b {
    background: url(../../vendor/uswds_v2.3.1/img/angle-arrow-up-primary.svg) no-repeat 0 1.1rem;
  }
}

[href *='.xls'],
[href *='.csv'] {
  display: inline-block;
}

[href *='.xls']::after,
[href *='.csv']::after {
  font-family: 'FontAwesome';
  content: '\f0ce';
  margin-left: .5rem;
  font-style: normal;
  float: right;
}

@media screen and (max-width: 780px) {
  .table-responsive-reflow {
    border: 0;
    display: block;
    width: 100%;

    thead {
      position:absolute;
      left:-999em;
    }

    tr:nth-child(odd) td, tr:nth-child(odd) th {
      background-color: $color-gray-lightest !important;
    }

    caption { display: block; }
  }

  .table-responsive-reflow tbody,
  .table-responsive-reflow tr,
  .table-responsive-reflow th,
  .table-responsive-reflow td,
  .table-responsive-reflow tfoot {
      border: 0;
      display: block;
      padding: 0;
      text-align: left;
      white-space: normal;
    }

    .table-responsive-reflow td,
    .table-responsive-reflow th {
      padding: .5rem 1rem;
    }

    .table-responsive-reflow th[data-title]:before,
    .table-responsive-reflow td[data-title]:before {
      content: attr(data-title);
      font-weight: 700;
      display: inline-block;
      margin-right: 1rem;
    }

    .table-responsive-reflow tr {
      border-bottom: 1px solid #333;
    }

    .table-responsive-reflow tr td {
      border-color:#333;
    }

   .table-responsive-reflow th:not([data-title]) {
      font-weight: 700;
      font-size: 2rem;
    }

    .table-responsive-reflow td:empty {
      display: none;
    }
}

.clearfix {
  clear: both;
  content: "";
  display: block;
}
.grid-container .grid-container {
  padding-left: 0;
  padding-right: 0;
}
