// Typography
// ==========================

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans;
}

h2 {
  &:first-child {
    margin-top: 0;
  }
}

a {
  color: $color-medium;

  &:hover {
    color: $color-medium-hover;
  }
}

hr {
  background: $color-gray-lighter;
  border: 0;
  height: 1px;
  margin: $site-margins 0;
}
