// Typography
// ==========================

body {
  overflow-x: hidden;
}

h2 {
  &:first-child {
    margin-top: 0;
  }
}

a {
  color: color('primary');

  &:hover {
    color: color('primary-darker');
  }
}

hr {
  background: color('base-lighter');
  border: 0;
  height: 1px;
}

.intro-text {
  @include u-font-size('body', 'md');
}