// Typography
// ==========================

body {
  overflow-x: hidden;
}

h2 {
  &:first-child {
    margin-top: 0;
  }
}

a {
  color: $theme-color-primary;

  &:hover {
    color: $theme-color-primary-darker;
  }
}

hr {
  background: $theme-color-base-lighter;
  border: 0;
  height: 1px;
}
