// Typography
// ==========================

body {
  overflow-x: hidden;
}

h2 {
  &:first-child {
    margin-top: 0;
  }
}

a {
  color: $color-medium;

  &:hover {
    color: $color-medium-hover;
  }
}

hr {
  background: $color-gray-lighter;
  border: 0;
  height: 1px;
}
