// Color
$color-medium: #046b99;
$color-medium-hover: #00547A;
$color-gray: #5b616b;
$color-gray-light: #aeb0b5;
$color-gray-lighter: #d6d7d9;
$color-gray-lightest: #f1f1f1;
$color-green-lightest: #e7f4e4;
$color-secondary-dark: #cd2026;
$color-primary-alt-light: #9bdaf1;
$color-primary-alt-lightest: #e1f3f8;
$color-green: #008817;

// USWDS theme settings
$theme-image-path:         "../../vendor/uswds_v2.3.1/img";
$theme-font-path:          "../../vendor/uswds_v2.3.1/fonts";
$theme-font-type-sans:     "public-sans";
$theme-site-margins:       3rem;
