// Color
$color-light:        #b3efff; // $color-light / $color-secondary-light
$color-bright:       #00cfff; // $color-bright / $color-secondary
$color-medium:       #046b99; // $color-medium / $color-primary
$color-dark:         #1C304A; // $color-dark / $color-primary-dark
$color-base:         #1F2E4A;

// imported from USWDS 1.x, should change to whatever is current in 2.x
$color-gray: #5b616b !default;
$color-gray-light: #aeb0b5 !default;
$color-gray-lighter: #d6d7d9 !default;
$color-green-lightest: #e7f4e4 !default;
$color-red-dark: #cd2026 !default;
$color-secondary-dark: $color-red-dark !default;
$color-aqua-light: #9bdaf1 !default;
$color-primary-alt-light: $color-aqua-light !default;
$site-margins: 3rem !default;
$nav-width: 951px !default;
// end import

$color-bright-hover: #00A7CE;
$color-medium-hover: #00547A;
$color-gray-lightest: #f1f1f1;

// Spacing
$section-margins:    6rem;
$nav-width-extra:    88px; // width needed to add so nav doesn't break on medium-screen size
$text-max-width:     60.6rem;

// USWDS theme settings
$theme-image-path:         "../../vendor/uswds/images";
$theme-font-path:          "../../vendor/uswds/fonts";
$theme-font-type-sans:     "public-sans";
