<nav role="navigation" class="usa-nav">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      {% load static %}
      <img src="{% static 'vendor/uswds/images/close.svg' %}" alt="close">
    </button>
    <ul class="usa-nav-primary usa-accordion">
      <li>
        <a href="{% url 'ProjectListView' %}" class="usa-nav-link">
          <span>Projects</span>
        </a>
      </li>
      <li>
        <a href="{% url 'reports:ListReports' %}" class="usa-nav-link">
          <span>Reports</span>
        </a>
      </li>
      <li>
        <a href="{% url 'employees:UserListView' %}" class="usa-nav-link">
          <span>Users</span>
        </a>
      </li>
      <li>
        <a href="{% url 'logout' %}" class="usa-nav-link">
          <span>Log out</span>
        </a>
      </li>
      <li>
        <a class="usa-external_link usa-nav-link" href="{{ x_tock_change_request_form_url }}" target="_blank">
          <span>Tock Change Request Form</span>
        </a>
      </li>
      {% if request.user.is_staff or request.user.is_superuser %}
      <li>
        <button class="
        usa-accordion-button usa-nav-link" aria-expanded="false" aria-controls="side-nav-2">
          <span>Administrative</span>
        </button>
        <ul id="side-nav-2" class="usa-nav-submenu" aria-hidden="true">
          {% if request.user.is_staff %}
          <li>
              <a href="/admin">Tock Admin</a>
            </li>
          <li>
              <a href="{% url 'utilization:GroupUtilizationView' %}">Utilization reports</a>
          </li>
          {% endif %}
          {% if request.user.is_superuser %}

          <li>
            <a href="{% url 'reportingperiod:ReportingPeriodCreateView' %}">Create reporting period</a>
          </li>
          <li>
            <a href="{% url 'reports:BulkTimecardList' %}">Bulk timecard CSV</a>
          </li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
