<nav class="usa-nav" aria-label="Primary navigation">
  <div class="usa-nav__inner">
    <button class="usa-nav__close">
      {% load static %}
      <img src="{% static 'vendor/uswds_v2.13.0/img/close.svg' %}" alt="close">
    </button>
    <ul class="usa-nav__primary usa-accordion">
      <li class="usa-nav__primary-item">
        <a href="/" accesskey="1" title="Home" aria-label="Home">Tock your time</a>
      </li>
      <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="{{ x_tock_change_request_form_url }}" target="_blank"  rel="noopener noreferrer">
          <span class="usa-link--external">Request changes</span>
        </a>
      </li>
      <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="reports-nav">
          <span>View reports</span>
        </button>
        <ul id="reports-nav" class="usa-nav__submenu" aria-expanded="true">
          <li class="usa-nav__submenu-item">
            <a href="{% url 'utilization:GroupUtilizationView' %}">Utilization reports</a>
          </li>
          <li class="usa-nav__submenu-item">
            <a href="{% url 'utilization:UtilizationAnalyticsView' %}">Analytics</a>
          </li>
          <li class="usa-nav__submenu-item">
            <a href="{% url 'reports:ListReports' %}" class="usa-nav__link">
              <span>Timecard reports</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="projects-nav">
          <span>View projects</span>
        </button>
        <ul id="projects-nav" class="usa-nav__submenu" aria-expanded="true">
          <li class="usa-nav__submenu-item">
            <a href="{% url 'projects:ProjectListView' %}">All Projects</a>
          </li>
          <li class="usa-nav__submenu-item">
            <a href="{% url 'projects:ProjectEngagementView' %}">Engagement Levels</a>
          </li>
        </ul>
      </li>
      <li class="usa-nav__primary-item">
        <a href="{% url 'employees:UserListView' %}" class="usa-nav__link">
          <span>View users</span>
        </a>
      </li>


    </ul>
    <div class="usa-nav__secondary">
    <ul class="usa-nav__secondary-links usa-accordion">
      {% if request.user.is_staff or request.user.is_superuser %}
      <li class="usa-nav__secondary-item">
        <button class="usa-accordion__button" aria-expanded="false" aria-controls="admin-nav">
          <span>Admin</span>
        </button>
        <ul id="admin-nav" class="usa-nav__submenu" aria-expanded="true">
          {% if request.user.is_staff %}
          <li class="usa-nav__submenu-item">
            <a href="/admin">Tock admin</a>
          </li>
          <li class="usa-nav__submenu-item">
            <a href="{% url 'utilization:GroupUtilizationView' %}">Utilization reports</a>
          </li>
          {% endif %}
          {% if request.user.is_superuser %}
          <li class="usa-nav__submenu-item">
            <a href="{% url 'reportingperiod:ReportingPeriodCreateView' %}">Create reporting period</a>
          </li>
          <li class="usa-nav__submenu-item">
            <a href="{% url 'reports:BulkTimecardList' %}">Bulk timecard CSV</a>
          </li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
      <li class="usa-nav__secondary-item">
        <a href="{% url 'logout' %}">
          <span>Log out</span>
        </a>
      </li>
      </ul>
    </div>
  </div>
</nav>
