<nav role="navigation" class="usa-nav">
  <div class="usa-nav__inner">
    <button class="usa-nav__close">
      {% load static %}
      <img src="{% static 'vendor/uswds_v2.3.1/img/close.svg' %}" alt="close">
    </button>
    <ul class="usa-nav__primary usa-accordion">
      <li class="usa-nav__primary-item">
        <a href="{% url 'ProjectListView' %}" class="usa-nav__link">
          <span>Projects</span>
        </a>
      </li>
      {% if request.user.is_staff %}
      <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="reports-nav">
          <span>Reports</span>
        </button>
        <ul id="reports-nav" class="usa-nav__submenu" aria-expanded="true">
          <li class="usa-nav__submenu-item">
            <a href="{% url 'utilization:GroupUtilizationView' %}">Utilization reports</a>
          </li>
          <li class="usa-nav__submenu-item">
            <a href="{% url 'reports:ListReports' %}" class="usa-nav__link">
              <span>Timecard Reports</span>
            </a>
          </li>
        </ul>
      </li>
      {% endif %}
      <li class="usa-nav__primary-item">
        <a href="{% url 'employees:UserListView' %}" class="usa-nav__link">
          <span>Users</span>
        </a>
      </li>
      <li class="usa-nav__primary-item">
        <a href="{% url 'logout' %}" class="usa-nav__link">
          <span>Log out</span>
        </a>
      </li>
      <li class="usa-nav__primary-item">
        <a class="usa-nav__link" href="{{ x_tock_change_request_form_url }}" target="_blank">
          <span class="usa-link--external">Tock Change Request Form</span>
        </a>
      </li>
      {% if request.user.is_staff or request.user.is_superuser %}
      <li class="usa-nav__primary-item">
        <button class="usa-accordion__button usa-nav__link" aria-expanded="false" aria-controls="admin-nav">
          <span>Administrative</span>
        </button>
        <ul id="admin-nav" class="usa-nav__submenu" aria-expanded="true">
          {% if request.user.is_staff %}
          <li class="usa-nav__submenu-item">
            <a href="/admin">Tock Admin</a>
          </li>
          <li class="usa-nav__submenu-item">
            <a href="{% url 'utilization:GroupUtilizationView' %}">Utilization reports</a>
          </li>
          {% endif %}
          {% if request.user.is_superuser %}
          <li class="usa-nav__submenu-item">
            <a href="{% url 'reportingperiod:ReportingPeriodCreateView' %}">Create reporting period</a>
          </li>
          <li class="usa-nav__submenu-item">
            <a href="{% url 'reports:BulkTimecardList' %}">Bulk timecard CSV</a>
          </li>
          {% endif %}
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>