    <div class="tablet:grid-col-3 sidebar">
      <h3>Using Tock</h3>
      <p>Part of TTS' business model is based on billing for time logged to a project.</p>
      <ul>
        <li>
          <a href="https://handbook.tts.gsa.gov/tock/#quick-reference">How to categorize your time</a>
        </li>
        <li>
          <a href="https://handbook.tts.gsa.gov/tock/">Handbook: Tock instructions</a>
        </li>
      </ul>
      
      <h3>Help and feedback</h3>
      <ul>
        <li>
          <a href="https://handbook.tts.gsa.gov/tock/#faq">Handbook: Tock FAQ</a>
        </li>
        <li>
          <a href="https://github.com/18F/tock/issues/new/choose">File an issue</a>
        </li>
        <li>
          <a href="https://gsa-tts.slack.com/archives/C1JFYCX3P">Visit #tock-dev on Slack</a>
        </li>
      </ul>
    </div>
