    <div class="tablet:grid-col-3 sidebar">
      <h3>Using Tock</h3>
      <p>Part of TTS' business model is based on billing for time logged to a project.</p>
      <ul>
        <li>
          <a href="">How to categorize your time</a>
        </li>
        <li>
          <a href="">Handbook: Tock instructions</a>
        </li>
      </ul>
      
      <h3>Help and feedback</h3>
      <ul>
        <li>
          <a href="">Handbook: Tock FAQ</a>
        </li>
        <li>
          <a href="">File an issue</a>
        </li>
        <li>
          <a href="">Visit #tock-dev on Slack</a>
        </li>
      </ul>
    </div>