<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tock</title>

  {% load static %}
  {% if request.user.is_authenticated and request.user.user_data.is_late %}
  <link rel="shortcut icon" href="{% static 'img/favicon-angry.png' %}">
  {% else %}
  <link rel="shortcut icon" href="{% static 'img/favicon-happy.png' %}">
  {% endif %}
  <meta name="tock-icon-happy" content="{% static 'img/favicon-happy' %}">
  <meta name="tock-icon-angry" content="{% static 'img/favicon-angry' %}">
  <link rel="stylesheet" href="{% static 'css/dist/core.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/jquery_ui-v1.13.0/jquery-ui.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/jquery_ui-v1.13.0/jquery-ui.structure.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/vendor/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'vendor/accessible-autocomplete_v2.0.3/css/accessible-autocomplete.min.css' %}" />
  <script src="{% static 'vendor/jquery_v3.6.0/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/jquery_ui-v1.13.0/jquery-ui.min.js' %}"></script>
  <script src="{% static 'vendor/uswds_v2.13.0/js/uswds.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/accessible-autocomplete_v2.0.3/js/accessible-autocomplete.min.js' %}"></script>

  <script src="{% static 'js/components/notifications.js' %}"></script>
  <script nonce="{{request.csp_nonce}}">
    (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-48605964-39', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('set', 'forceSSL', true);
    ga('send', 'pageview');
  </script>
  <script nonce="{{request.csp_nonce}}">
      function extendSession() {
        var request = new XMLHttpRequest();
        request.open("GET", "/session-extend", true);
        request.onload = function () {
          if (request.status === 401) {
            alert("Your session has expired. Please log back in.");
            logout();
          }
        };
        request.send();
        setTimeout(setAlert, timeoutCount - 120 * 1000);
      }

      function logout() {
        window.location.reload();
      }

      const timeoutCount = "{{x_tock_session_timeout_ms}}";

      function setAlert() {
        alert(
          "Your session will expire in 2 minutes. Press OK or the enter key to extend your session."
        );
        extendSession();
      }

      setTimeout(setAlert, timeoutCount - 120 * 1000);
  </script>
</head>

<body>
  <header class="usa-header usa-header--extended">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>
    {% include "_header.html" %}
    {% block navigation %}
    {% endblock navigation %}
  </header>

  <div class="usa-content usa-section">
    <main class="grid-container" id="main-content">
      {% block content %}
      {% endblock %}
      {% block js %}
      {% endblock js %}
    </main>
  </div>

  <footer class="usa-footer usa-footer-slim" role="contentinfo">
    <div class="grid-container">
      <nav class="grid-row grid-gap">
        <div class="grid-col-4">
          <p><i>The current release is <code>{{ x_tock_release_name }}</code>, <a class="usa-link--external"
                href="{{ x_tock_release_url }}" title="{{ x_tock_release_name }}" target="_blank"  rel="noopener noreferrer">view this release on
                GitHub</a></i>.</p>
        </div>
        <div class="grid-col-4">
          <p><i>For questions, suggestions, or bug reports, please <a class="usa-link--external"
                href="https://github.com/18f/tock/issues" target="_blank" rel="noopener noreferrer">file an issue</a>.</i></p>
        </div>
        <div class="grid-col-4">
          <p><i>To change your previously submitted hours in Tock, please <a class="usa-link--external"
                href="{{ x_tock_change_request_form_url }}" target="_blank" rel="noopener noreferrer">use the Tock Change Request Form</a>.</i>
          </p>
        </div>
      </nav>
    </div>
  </footer>

</body>

</html>
