<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tock</title>

    {% load staticfiles %}
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'css/dist/core.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'js/chosen/chosen.min.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js" ></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/chosen/chosen.jquery.min.js' %}"></script>

    <!-- charting dependencies -->
    <script src="{% static 'js/vendor/d3.min.js' %}"></script>
    <script src="{% static 'js/vendor/datalib.min.js' %}"></script>
    <script src="{% static 'js/vendor/document-register-element.js' %}"></script>
    <script src="{% static 'js/components/utilization-chart.js' %}"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js" ></script>

  </head>
  <body>
  <div class="container">
    <header class="banner">
      <a href="/">
        <img src="{% static 'img/18F-Logo.svg' %}" alt="18F logo" />
      </a>
      <hr>
      <ul>
        <li><a href="{% url 'ProjectListView' %}">Projects</a></li>
        <li><a href="{% url 'reports:ListReports' %}">Reports</a></li>
        <li><a href="{% url 'employees:UserListView' %}">Users</a></li>
        <br>
        <li><b>Beta:</b></li>
        <li><a href="https://login.float.com/?people={{ user.first_name}}+{{user.last_name}}" target="_blank">View Float assigments</a></li>
        {% if request.user.is_superuser %}
        <br>
        <li><b>Admin:</b></li>
        <li><a href="{% url 'reportingperiod:ReportingPeriodCreateView' %}">Add reporting period</a></li>
        <li><a href="/admin">Admin panel</a>
        <li><a href="{% url 'reports:BulkTimecardList' %}">Bulk timecard CSV</a>
        {% endif %}
        <hr>
      </ul>
    </header>
    <div class="content">
    {% block content %}
    {% endblock %}
    {% block js %}
    {% endblock js %}
    </div>
  </div>
  </body>
</html>
